<?xml version="1.0" encoding="UTF-8"?>
<configuration debug="false">

    <appender name="consoleAppender" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <Pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{36}.%M %L - %msg %n</Pattern>
        </encoder>
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>TRACE</level>
        </filter>
    </appender>


    <appender name="fileAppender" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <encoder>
            <charset>UTF-8</charset>
            <Pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{36}.%M %L - %msg %n</Pattern>
        </encoder>

        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">

            <fileNamePattern>log/app.%d{yyyyMMdd}.log</fileNamePattern>

            <MaxHistory>5</MaxHistory>
        </rollingPolicy>

        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>INFO</level>
        </filter>

        <triggeringPolicy class="ch.qos.logback.core.rolling.SizeBasedTriggeringPolicy">
            <MaxFileSize>1MB</MaxFileSize>
        </triggeringPolicy>
    </appender>


<!--    <appender name="DB" class="ch.qos.logback.classic.db.DBAppender">-->
<!--        <connectionSource class="ch.qos.logback.core.db.DriverManagerConnectionSource">-->
<!--            <dataSource class="com.mchange.v2.c3p0.ComboPooledDataSource">-->
<!--                <driverClass>com.mysql.jdbc.Driver</driverClass>-->
<!--                <url>jdbc:mysql://127.0.0.1:3306/databaseName</url>-->
<!--                <user>root</user>-->
<!--                <password>root</password>-->
<!--            </dataSource>-->
<!--        </connectionSource>-->
<!--    </appender>-->

<!--    <logger name="com.apache.ibatis" level="TRACE"/>-->
<!--    <logger name="java.sql.Connection" level="DEBUG"/>-->
<!--    <logger name="org.hibernate.SQL" level="INFO"/>-->
<!--    <logger name="org.springframework" additivity="false">-->
<!--        <level value="WARN"/>-->
<!--        <appender-ref ref="fileAppender"/>-->
<!--        <appender-ref ref="consoleAppender"/>-->
<!--    </logger>-->

    <root level="INFO">
        <appender-ref ref="consoleAppender"/>
        <appender-ref ref="fileAppender"/>
    </root>

</configuration>